
main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #8c54ff;
  --secondary: #9429f8;
  --tertiary: #B12704;
  --light: #777676;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: #b3d1ff;
  color: var(--light);
  font-family: monospace, Verdana;
}

header{
  height: 56px;
  background-color: #E7E7E7;
  margin-bottom: 1rem;
}

footer {
  height: 56px;
  background-color: #E7E7E7;

  position: fixed;
  width: 100%;
  bottom: 0;
  
  text-align: center;
  margin-top: 1rem;
}

footer h2 a {
  text-align: center;
}

header a {
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: monospace, Verdana;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

#contact-container {
  border:2px solid #9429f8
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}



button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}


input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
}

textarea {
	width: 100%;
	border: 3px solid #cccccc;
	padding: 5px;
}

.container {
  width: 50%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}



.card {
  width: 25%;
  text-align: center;
}

.img-thumbnail {
  width: auto;
  height: 400px;
  margin-bottom: 50px;
  cursor: pointer;
}



button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
  margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px 15px;	
}

a {
	border-radius: 5px;
	color: var(--primary);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;	
}

.navActive {
  color: var(--secondary);
}